.sinto {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
.stitle {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.81);
  padding-bottom: 2rem;
}
.shedding {
  padding: 1rem;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.81);
}
.scontent {
  padding-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.6042px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .totlabody {
    padding: 5rem;
  }
  .aboutcontainer{
    display: block;
  }
  .aboutprojects{
    padding-left: 0rem;
  }
  .servicesintro {
    text-align: center;
  }
  .shedding {
    text-align: center;
  }
  .sgetall {
    float: right;
  }
  .scontainer {
    display: block;
  }
  .spic1 {
    width: 100%;
    align-items: center;
  }
}
