.sbody {
  padding-top: 4rem;
}
.sinto {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 501;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
.stitle {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.81);
}
.sgetall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 14.6042px;
  line-height: 22px;
  padding-left: 78%;
  color: #fcc028;
}
.shedding {
  padding: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.81);
}
.scontent {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 401;
  font-size: 14.6042px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.threepics {
  padding: 5.25rem;
  padding-top: 0.25rem;
}
@media screen and (max-width: 576px) {
  .sbody {
    width: 100%;
    padding: 0rem;
  }
  .sinto {
    width: 100%;
    text-align: center;
    padding: 0rem;
  }
  .stitle {
    width: 100%;
    text-align: center;
    padding: 0rem;
  }
  .scontent {
    padding-bottom: 2rem;
  }
  .sgetall {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    padding: 0rem;
  }
}
