.shedding {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.81);
}
.scontent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.6042px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .totlabody {
    padding: 5rem;
  }
  .servicesintro {
    text-align: center;
  }
  .shedding {
    text-align: center;
  }
  .sgetall {
    float: right;
  }
  .scontainer {
    display: block;
  }
  .spic1 {
    width: 100%;
    align-items: center;
  }
}
