.portbody {
  padding: 5rem;
}
.portintro {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
.porttitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
.portviewall {
  padding-top: 3rem;
  padding-left: 63rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.6042px;
  line-height: 22px;
  color: #fcc028;
}
.portfloor1 {
  display: flex;
}
.porta1 {
  border-radius: 19.4722px;
  width: 50%;
}
.portb1 {
  border-radius: 19.4722px;
  width: 50%;
}
.portfloor2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
}
.porta2 {
  border-radius: 19.4722px;
  width: 50%;
}
.portb2 {
  border-radius: 19.4722px;
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .portviewall {
    padding-left: 80%;
  }
  .portfloor1 {
    display: block;
  }
  .porta1 > img {
    width: 200%;
    padding: 2rem;
  }
  .porta2 > img {
    width: 200%;
    padding: 2rem;
  }
  .portb1 > img {
    width: 200%;
    padding: 2rem;
  }
  .portb2 > img {
    width: 200%;
    padding: 2rem;
  }
  .portfloor2 {
    display: block;
  }
}
