.portbody {
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
}
.portintro {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
.porttitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  padding-bottom: 5rem;
  color: rgba(0, 0, 0, 0.81);
}
.portviewall {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-left: 63rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 14.6042px;
  line-height: 22px;
  color: #fcc028;
}

@media screen and (max-width: 576px) {
  .portbody {
    padding: 0rem;
    padding-top: 5rem;
    display: block;
    width: 100%;
  }
  .portintro {
    text-align: center;
    width: 100%;
  }
  .porttitle {
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: 23px;
  }
  .portviewall {
    padding: 0rem;
    padding-left: 60%;
    padding-bottom: 1rem;
  }
  .pcontainer {
    padding: 0rem;
    margin: 0rem;
    box-sizing: none;
  }
  .portfloor1 {
    padding-top: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 0rem;
    width: 100%;
    flex-direction: column;
  }
  .porta1 > img {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    padding-left: 1.4rem;
    padding-bottom: 1rem;
  }
  .portb1 > img {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    padding-left: 1.4rem;
    /* padding-bottom: 1rem; */
  }
  .portfloor2 {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .porta2 > img {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    padding-left: 1.4rem;
    padding-bottom: 1rem;
  }
  .portb2 > img {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    padding-left: 1.4rem;
    padding-bottom: 1rem;
  }
}
