.navbody {
  display: flex;
}
.navlogo {
  padding-top: 2.5rem;
  padding-left: 4rem;
  width: 5%;
}
.navbuttoncontainer {
  padding-top: 1rem;
}
.navbarbalck {
  padding-top: 2.25rem;
  width: 80%;
}
.Buttonbb {
  padding-left: 2rem;
  padding-right: 2.55rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  border-radius: 4.86806px;
  background-color: #fcc028;
  border: none;
}
@media screen and (max-width: 1000px) {
  .navbody {
    width: 100%;
  }
  .navlogo {
    padding-left: 2rem;
    padding-top: 2.5rem;
  }
  .navbuttoncontainer {
    padding-top: 2.25rem;
    white-space: nowrap;
  }
  .Buttonbb {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border-radius: 4.86806px;
    background-color: #fcc028;
    border: none;
  }
}
