.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14.6042px 97.3611px;
  gap: 236.59px;
  position: absolute;
  width: 1402px;
  height: 70.68px;
  left: 0px;
  top: 0px;
}
.navbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 350px;
  gap: 90.66px;
  width: 500.99px;
  height: 41.47px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.A {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.6042px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  text-decoration: none;
  flex-grow: 0;
}
.navbuttonb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29.2083px;
  gap: 10px;
  position: absolute;
  width: 125.86px;
  height: 53.55px;
  left: 1350.84px;
  top: 20.21px;
  border: none;
  color: white;
  background: #fcc028;
  border-radius: 4.86806px;
}
.navlogo {
  width: 250px;
  height: 90px;
  font-family: "Imperial Script";
  font-style: normal;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 31.1556px;
  line-height: 38px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
