.testibody {
  position: absolute;
  width: 1402px;
  height: 571.51px;
  left: 0.97px;
  top: 5080.3px;
}
.testiinto {
  position: absolute;
  width: 108px;
  height: 23px;
  left: 647.45px;
  top: 80.81px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
