.Usbody {
  padding: 0rem;
  background: linear-gradient(
    180deg,
    rgba(236, 178, 46, 0.0754) 0%,
    rgba(255, 255, 255, 0.1144) 100%
  );
}
.uscontactus {
  padding-top: 10.5rem;
  padding-left: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.81);
}
.uspromise {
  padding-top: 0.7rem;
  padding-left: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 401;
  font-size: 15.5778px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.usmailc {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
}
.mailid {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 401;
  font-size: 23.9178px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}
.us1 {
  padding-right: 2.5rem;
}

.usaddrc {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}
.us2 {
  height: 50%;
  padding-right: 2.5rem;
}
.addrid {
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 401;
  font-size: 23.9178px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}
.uspc {
  display: flex;
  flex-direction: row;
}
.us3 {
  padding-right: 2.5rem;
}
.phonenum {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 401;
  font-size: 23.9178px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}
.formcontainer {
  padding: 4rem;
  padding-right: 0rem;
  padding-top: 5.75rem;
}
#formname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
  padding: 1.87rem;
  width: 110%;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formmail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
  padding: 1.87rem;
  width: 110%;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formweb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
  padding: 1.87rem;
  width: 110%;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formmsg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.4722px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
  padding: 3rem 0rem 15.25rem 5.5rem;
  padding-left: 1.87rem;
  width: 110%;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
.formbuttoncontainer {
  padding-top: 1.87rem;
}
.formbutton {
  padding: 0rem;
  color: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 0.87rem;
  padding-bottom: 0.87rem;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.6042px;
  line-height: 22px;
  color: #ffffff;
  background: #fcc028;
  border-radius: 4.86806px;
}

.Footer {
  padding-top: 16rem;
  padding-bottom: 12rem;
}
.uslogodes {
  padding: 1rem 1rem 1rem 0rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 11.6833px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.uscol {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.E1 {
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E2 {
  padding: 0.5rem;
  padding-top: 1.45rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.E3 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 2;
  flex-grow: 0;
}
.E4 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}

.E5 {
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E6 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E7 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E4 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}

.E8 {
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E9 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E10 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E11 {
  padding: 0.25rem;
  padding-top: 1.45rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 501;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.uslinks {
  display: none;
}
@media screen and (max-width: 1000px) {
  .uscontactus {
    padding-top: 5rem;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .uspromise {
    width: 100%;
    padding-left: 0rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .mailid {
    font-size: 19.9178px;
  }
  .addrid {
    font-size: 19.9178px;
  }
  .phonenum {
    text-align: center;
    font-size: 19.9178px;
  }
  .us1 {
    padding-right: 1rem;
  }
  .us2 {
    padding-right: 1rem;
  }
  .us3 {
    padding-right: 1rem;
  }
  .formcontainer {
    padding-left: 0rem;
  }
  #formname {
    width: 100%;
  }
  #formmail {
    width: 100%;
  }
  #formweb {
    width: 100%;
  }
  #formmsg {
    width: 100%;
  }
  .formbuttoncontainer {
    padding-left: 27%;
  }
  .Footer {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .logocontent {
    display: flex;
    flex-direction: row;
  }
  .uslogo {
    width: 25%;
    height: 25%;
    padding-top: 1.5rem;
  }
  .logocontent {
    text-align: center;
  }
  .uscol {
    padding-bottom: 2rem;
  }
  .links1 {
    display: none;
  }
}
