.Usbody {
  padding: 5rem;
  background: linear-gradient(
    180deg,
    rgba(236, 178, 46, 0.0754) 0%,
    rgba(255, 255, 255, 0.1144) 100%
  );
}
.usformandinfo {
  display: flex;
}
.usinfo {
  width: 50%;
}
.uscontactus {
  padding-top: 3rem;
  padding-left: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.81);
}
.uspromise {
  padding-top: 1rem;
  padding-left: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15.5778px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.usmailc {
  padding-top: 5rem;
  padding-left: 1rem;
}
.usaddrc {
  padding-top: 1rem;
  padding-left: 1rem;
}
.uspc {
  padding-top: 1rem;
  padding-left: 1rem;
}
.us1 {
  padding-right: 2rem;
}
.us2 {
  padding-right: 2rem;
}
.us3 {
  padding-right: 2rem;
}
.usform {
  width: 50%;
}
.formcontainer {
  padding: 5rem;
}
#formname {
  padding: 1rem;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formmail {
  padding: 1rem;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formweb {
  padding: 1rem;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
#formmsg {
  padding: 3rem 3rem 6rem 1rem;
  background: #ffffff;
  border: 1.94722px solid rgba(0, 0, 0, 0.5);
  border-radius: 9.73611px;
}
.formbuttoncontainer {
  padding: 2rem 2rem 2rem 0rem;
}
.formbutton {
  color: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29.2083px;
  gap: 10px;
  background: #fcc028;
  border-radius: 4.86806px;
}
.uslinks {
  display: flex;
}
.uslogocol {
  padding-left: 3rem;
  width: 25%;
}
.uslogodes {
  padding: 1rem 1rem 1rem 0rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11.6833px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.uscol1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.E1 {
  padding-bottom: 0.5rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E2 {
  padding: 0.5rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.E3 {
  padding: 0.25rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 2;
  flex-grow: 0;
}
.E4 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.uscol2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.E5 {
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E6 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E7 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E4 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.uscol3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.E8 {
  padding-bottom: 1rem;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.81);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.E9 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E10 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
.E11 {
  padding: 0.25rem;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4722px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.31);
  flex: none;
  order: 3;
  flex-grow: 0;
}
