.hedderbody {
  display: flex;
  padding-left: 5rem;
  padding-top: 5rem;
}
.headerpart1 {
  width: 50%;
}
.hedderinto {
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.525px;
  line-height: 26px;
  color: #fcc028;
}
.heddername {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 70.8037px;
  line-height: 106px;
  display: flex;
  align-items: center;
  color: #000000;
}
.hedderproffession {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23.3667px;
  line-height: 35px;
  color: #207733;
}
.hedderdes {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.hedderbuttoncontainer {
  padding-top: 2rem;
  display: flex;
}
.hedderbutton {
  width: 20%;
  padding: 1rem;
  color: white;
  border: none;
  background: #fcc028;
  border-radius: 4.86806px;
}
.hedderbuttondownload {
  background: none;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14.6042px;
  line-height: 22px;
  color: #000000;
}
.hedderdownloadbuttonpic {
  padding-left: 1rem;
}
.hedderpart2 {
  width: 50%;
}
.hedderprofilepic1 > img {
  width: 100%;
}
.heddercardcontainer {
  padding-left: 1rem;
}
.heddercard {
  padding: 1rem;
  max-width: 700px;
  width: 25%;
  background: #ffffff;
  box-shadow: 0px 2.72153px 34.0191px rgba(19, 23, 61, 0.5);
  border-radius: 6.80382px;
}
.hedddercardpart1 {
  display: flex;
}
.heddercardimage {
  width: 10%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.heddercardname {
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10.8861px;
  line-height: 16px;
}
.heddercarddate {
  padding-top: 0.5rem;
  padding-left: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 9.52535px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.heddercardpart2 {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 9.52535px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1000px) {
  .hedderbody {
    padding: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hedderpart1 {
    padding: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hedderinto {
    padding: 0;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
  }
  .heddername {
    padding: 0rem;
    width: 100%;
    font-size: 47px;
    text-align: center;
    padding-bottom: 1rem;
  }
  .hedderproffession {
    padding: 0rem;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .hedderdes {
    padding: 0rem;
    width: 100%;
    padding: 1rem;
  }
  .hedderbuttoncontainer {
    display: flex;
    padding: 0rem;
    width: 100%;
    flex-direction: column;
  }
  .hedderbutton {
    padding: rem;
    width: 100%;
  }
  .hedderbuttondownload {
    padding: 2rem;
    width: 100%;
  }
  .hedderpart2 {
    width: 100%;
    display: flex;
  }
  .hedderprofilepic1 > img {
    width: 100%;
    padding-bottom: 2rem;
  }
  .heddercardcontainer {
    width: 95%;
  }
  .heddercard {
    width: 100%;
  }
  .heddercardname {
    padding-left: 5rem;
  }
  .heddercarddate {
    padding-left: 5rem;
  }
  .heddercardpart2 {
    font-size: 12px;
  }
}
