.our {
  padding: 5rem;
}
.ourinto {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  color: #fcc028;
}
.ourtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
.stack {
  padding-right: 10rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 0px; */
  gap: 146.04px;
}
@media screen and (max-width: 1000px){
  .stack {
    padding-left: 20%;
    padding-right: 10rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    gap: 146.04px;
  }
}