body {
  position: absolute;
  width: 1402px;
  height: 7619.48px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    rgba(10, 9, 9, 0) -4.71%,
    rgba(5, 238, 78, 0.33) 4.86%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
