.csinto {
  padding-top: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  text-align: center;
  color: #fcc028;
}
.cstitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
.cscontainer1 {
  display: flex;
}
.cspic1 {
  padding-top: 3rem;
  padding-left: 5rem;
  width: 50%;
}
.cscontent1 {
  padding-top: 3rem;
  padding-left: 7.58rem;
}
.cscontent1num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent1hedding {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent1content {
  width: 80%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.csbuttoncontainer {
  padding-top: 3rem;
}
.cscontentbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29.2083px;
  gap: 10px;
  background: none;
  border: none;
  border: 1px solid #fcc028;
  border-radius: 9.73611px;
}
.cscontainer2 {
  padding-top: 5rem;
  display: flex;
}
.cscontent2 {
  width: 50%;
  padding-top: 3rem;
  padding-left: 5rem;
}
.cscontent2num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent2hedding {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent2content {
  width: 80%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.cspic2 {
  width: 50%;
}
.cscontainer3 {
  display: flex;
  padding-top: 5rem;
}
.cspic3 {
  padding-top: 3rem;
  padding-left: 5rem;
  width: 50%;
}
.cscontent3 {
  width: 80%;
  padding-top: 3rem;
  padding-left: 8rem;
}
@media screen and (max-width: 1000px) {
  .bodyofcasestudy {
    padding: 0rem;
    padding-top: 5rem;
  }
  .csinto {
    padding: 0rem;
  }
  .cstitle {
    padding: 0rem;
  }
  .cscontainer1 {
    display: flex;
    flex-direction: column;
  }
  .cspic1 {
    padding: 0rem;
    width: 100%;
  }
  .cspic1 > img {
    padding: 1rem;
    width: 100%;
  }
  .cscontent1 {
    padding: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cscontent1num {
    width: 100%;
    text-align: center;
  }
  .cscontent1hedding {
    width: 100%;
    text-align: center;
  }
  .cscontent1content {
    width: 100%;
    text-align: center;
  }
  .csbuttoncontainer {
    padding-left: 35%;
    padding-bottom: 5rem;
  }
  .cscontainer2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cscontent2 {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cscontent2num {
    padding: 0rem;
    text-align: center;
    width: 100%;
  }
  .cscontent2hedding {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }
  .cscontent2content {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }
  .cspic2 {
    padding: 0rem;
    width: 100%;
  }
  .cspic2 > img {
    padding: 1rem;
    width: 100%;
  }
  .cscontainer3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cspic3 {
    padding: 0rem;
    width: 100%;
  }
  .cspic3 > img {
    width: 100%;
    padding: 1rem;
  }
  .cscontent3 {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cscontent3num {
    width: 100%;
    text-align: center;
  }
  .cscontent3hedding {
    width: 100%;
    text-align: center;
  }
  .cscontent3content {
    width: 100%;
    text-align: center;
  }
}
