.csinto {
  padding-top: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5778px;
  line-height: 23px;
  text-align: center;
  color: #fcc028;
}
.cstitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
.cscontainer1 {
  display: flex;
}
.cspic1 {
  padding-top: 3rem;
  padding-left: 5rem;
  width: 50%;
}
.cscontent1 {
  padding-top: 3rem;
  padding-left: 7.58rem;
}
.cscontent1num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent1hedding {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent1content {
  width: 80%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.csbuttoncontainer {
  padding-top: 3rem;
}
.cscontentbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29.2083px;
  gap: 10px;
  background: none;
  border: none;
  border: 1px solid #fcc028;
  border-radius: 9.73611px;
}
.cscontainer2 {
  padding-top: 5rem;
  display: flex;
}
.cscontent2 {
  width: 50%;
  padding-top: 3rem;
  padding-left: 5rem;
}
.cscontent2num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent2hedding {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent2content {
  width: 80%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.cspic2 {
  width: 50%;
}
.cscontainer3 {
  display: flex;
  padding-top: 5rem;
}
.cspic3 {
  padding-top: 3rem;
  padding-left: 5rem;
  width: 50%;
}
.cscontent3 {
  width: 80%;
  padding-top: 3rem;
  padding-left: 8rem;
}
/* @media screen and (max-width: 1000px) {
  .csbuttoncontainer{
    padding: 2rem;
  }
  .cscontainer1 {
    display: block;
    width: 100%;
  }
  .cspic1 > img {
    width: 155%;
    margin-left: 25%;
  }
  .cscontent1num {
    text-align: center;
  }
  .cscontent1hedding {
    text-align: center;
  }
  .cscontent1content {
    text-align: center;
  }
  .cscontentbutton {
    margin: auto;
    align-items: center;
  }
  .cscontainer2 {
    display: block;
    width: 200%;
  }

  .cspic2 > img {
    width: 75%;
    margin-left: 25%;
  }
  .cscontent2num {
    text-align: center;
  }
  .cscontent2hedding {
    text-align: center;
  }
  .cscontent2content {
    text-align: center;
  }
  .cscontentbutton {
    margin: auto;
    align-items: center;
  }

  .cscontainer3 {
    display: block;
    width: 200%;
  }
  .cspic3 > img {
    width: 100%;
    margin-left: 25%;
  }
  .cscontent3num {
    width: 100%;
    text-align: center;
  }
  .cscontent3hedding {
    width: 100%;
    text-align: center;
  }
  .cscontent3content {
    padding-left: 25%;
    width: 50%;
    text-align: center;
  }
  .cscontentbutton {
    margin: auto;
    align-items: center;
  }
} */
