.csinto {
  padding-top: 11.75rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 15.5778px;
  line-height: 23px;
  text-align: center;
  color: #fcc028;
}
.cstitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  text-align: center;
  color: rgba(0, 0, 0, 0.81);
}
.csrow1 {
  padding-top: 3.75rem;
}
.csrow2 {
  padding-top: 2.5rem;
}
.csrow3 {
  padding-top: 1.5rem;
}
.c1 {
  margin-top: auto;
  margin-bottom: auto;
}

.cscontent1num {
  padding-top: 5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent1hedding {
  font-family: "Poppins";
  font-style: normal;
  padding-left: 0.25rem;
  font-weight: 501;
  font-size: 23.3667px;
  line-height: 35px;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent1content {
  width: 90%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}
.csbuttoncontainer {
  padding-top: 3rem;
}
.cscontentbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px 50px;
  gap: 10px;
  background: none;
  border: none;
  color: #fcc028;
  border: 1px solid #fcc028;
  border-radius: 9.73611px;
}

.cscontent2num {
  padding-top: 6rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent2hedding {
  padding-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent2content {
  padding-top: 1rem;
  width: 90%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}

.cscontent3num {
  padding-top: 6rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 31.1556px;
  line-height: 47px;
  color: #fcc028;
}
.cscontent3hedding {
  padding-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 23.3667px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.81);
}
.cscontent3content {
  padding-top: 1rem;
  width: 90%;
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 501;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
  .bodyofcasestudy {
    padding-bottom: 2rem;
    width: 100%;
  }
  .csinto {
    width: 100%;
    text-align: center;
  }
  .cstitle {
    width: 100%;
    text-align: center;
  }
  .csrow1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .cscontent1num {
    padding-top: 3rem;
    width: 100%;
    text-align: center;
  }
  .cscontent1hedding {
    width: 100%;
    text-align: center;
    padding: 0rem 0.25rem 0rem 0.25rem;
  }
  .cscontent1content {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .csbuttoncontainer {
    display: flex;
    margin-left: 30%;
    padding-bottom: 2rem;
  }
  .pic1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
  }
  .csrow2 {
    display: flex;
    flex-direction: column;
  }
  .cscontent2num {
    text-align: center;
    width: 100%;
  }
  .cscontent2hedding {
    text-align: center;
    width: 100%;
  }
  .cscontent2content {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .csrow3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .cscontent3num {
    width: 100%;
    text-align: center;
  }
  .cscontent3hedding {
    width: 100%;
    text-align: center;
  }
  .cscontent3content {
    width: 100%;
    text-align: center;
  }
}
